In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame([10,20,30,40],columns=['numbers'],index=['a','b','c','d'])

In [5]:
df.index

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [6]:
df

   numbers
a       10
b       20
c       30
d       40

In [7]:
df.ix['c']

numbers    30
Name: c, dtype: int64

In [9]:
df.ix[['c','d']]

   numbers
c       30
d       40

In [10]:
df **2

   numbers
a      100
b      400
c      900
d     1600

In [11]:
df['floats']=(1.5,2.5,3.5,4.5)

In [12]:
df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5

In [14]:
a=np.random.standard_normal((9,4))

In [15]:
a

array([[ 1.72191266,  0.02542339,  0.38408249,  0.01683143],
       [-0.39458431, -0.17836369,  0.03971428,  0.10426964],
       [ 1.4413417 , -0.1081714 , -2.3993089 ,  1.6024369 ],
       [ 1.39771051, -0.09755387, -0.61724992,  0.90577056],
       [-0.65129534, -0.41583762,  1.09528862,  0.02844551],
       [ 0.26615038,  0.5570581 ,  0.87251841,  0.86737881],
       [-0.23343748,  0.58705405,  0.2187799 , -0.0803068 ],
       [-1.18206346, -0.56785364, -0.54990845, -0.22721616],
       [ 0.21590305, -1.31596795,  1.09887985, -0.68029318]])

In [17]:
a.round(6)

array([[ 1.721913,  0.025423,  0.384082,  0.016831],
       [-0.394584, -0.178364,  0.039714,  0.10427 ],
       [ 1.441342, -0.108171, -2.399309,  1.602437],
       [ 1.397711, -0.097554, -0.61725 ,  0.905771],
       [-0.651295, -0.415838,  1.095289,  0.028446],
       [ 0.26615 ,  0.557058,  0.872518,  0.867379],
       [-0.233437,  0.587054,  0.21878 , -0.080307],
       [-1.182063, -0.567854, -0.549908, -0.227216],
       [ 0.215903, -1.315968,  1.09888 , -0.680293]])